<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Blog Home - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/blog-home.css" rel="stylesheet">
  @!section('header')
</head>
<body>
@include('partials._navbar')
  <!-- Page Content -->
  <div class="container">
    <div class="row">
        <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Search Widget -->
        @include('partials.widgets._search')
        <!-- Categories Widget -->
        @include('partials.widgets._categories')
        <!-- Side Widget -->
      </div>
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        @!section('page-content')
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <!-- Footer -->
  @include('partials/_footer')
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  @!section('footer')
</body>
</html>
