<div class="card mb-4">
  <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">{{title}}</h2>
    <p class="card-text">{{body}}</p>
    <a href= "/articles/{{id}}" class="btn btn-primary">Read More →</a>
    <a href= "/articles/{{id}}/edit" class="btn btn-primary">EDIT →</a>
  </div>
  <div class="card-footer text-muted">
    Posted on January 1, 2017 by
  <a href="/">Start Bootstrap</a>
  </div>
</div>