@layout('layouts.rightSidebar')

@section('page-content')
  @each(post in posts.toJSON())
      @!component('components.articles', title = post.title, body = post.body, id = post.id, postDate = post.postDate)
  @endeach
@endsection