@layout('layouts.rightSidebar')

@section('page-content')
  <h1>Hello Contact page</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, rerum exercitationem amet similique nostrum soluta minus molestias eveniet numquam laudantium autem mollitia molestiae? Laboriosam, quibusdam vitae vero dolore architecto odit!</p>
@endsection